@font-face {
    font-family: 'Avenir';
    src: url(fonts/Avenir-Medium.ttf);
  }
  body{
    width: 595px;
    height: 842px;
    margin: 0;
    padding: 0;
    outline: 0;
}
  .header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: 'Avenir-medium';
      font-size: 15px;
      height: 55px;
      background-color:#203565;
      color: white;
      border-bottom: 3px solid goldenrod;
      padding: 0 25px;
  }
  .fa-map-marker-alt{
      margin:5px 10px 0px 0px;
  }
  .img-gallery{
      display: grid;
      grid-gap: 3px;
    grid-template-columns: auto auto auto;
  }
  .item-1 {
    grid-column: 1 / span 2;
    position: relative;
  }
  .item-2 {
    grid-column: 1 / span 1;
    height: 184px;
  }
  .item-3 {
    grid-column: 2 / span 3;
    height: 184px;
  }
.top-left {
    position: absolute;
    font-size: 25px;
    width: 160px;
    font-family: 'Avenir';
    height: 32px;
    color: white;
    background: #E50019;
   margin: 10px;
   padding-left: 10px;
}
 .border-part{
    height: 56px;
    background-color:#203565;
    color: white;
   font-family: 'Avenir-medium';
    font-weight: medium;
    font-size: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0;
    padding-left: 15px;
    margin-top: 0px;
}
.column-layout{
    display: flex;
    padding: 0px 10px;
    padding-top: 10px;
}
.main-column{
    flex:2;
    margin-right: 20px;
}
.description{
    font-size: 8px; 
    margin:0px;
    margin-bottom: 10px;
    font-family: 'Avenir-Book';
    height: 132px;
}
.key-features{
    font-size: 8px; 
    list-style: none; 
    padding: 0;
    margin: 0;
    font-family: 'Avenir';
    height: 66px;
    margin-top: 5px;
}
.border{
    background-color: #203565;
    color: white;
    font-size: 11px; 
   line-height: 11px;
   font-family: 'Avenir-Medium';
    width: 317px;
   height: 21px;
   display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5px;
    margin-bottom: 0px;
}
.sidebar{
    flex:1.5;
    font-size: 8px;
    margin-left: 25px;
}
.social-icons{
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}
.measurement{
    display: inline-block;
    margin-right: 5px;
    margin-top: 0;
    margin-bottom: 0;}

.agent{
    height:224px; 
    display: flex;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.icons{
    display: inline-block;
}
.footer{
    padding-left: 2%;
    padding-right: 2%;
    color: #082041;
}
.footer-sentence{
    font-family: 'Avenir-Medium';
    border-bottom: 1px solid #082041;
   border-width: 80%;  
}


